			.wrap {
				width: 600px;
				height: 300px;
				position: relative;
			}
			
			.list {
				width: 600px;
				height: 300px;
				list-style: none;
				position: relative;
				padding-left: 0px;
			}
			
			.item {
				position: absolute;
				width: 100%;
				height: 100%;
				color: white;
				font-size: 50px;
				opacity: 0;
				transition: all .8s;
			}
			/*
			.item:nth-child(1) {
				background-color: black;
			}
			
			.item:nth-child(2) {
				background-color: red;
			}
			
			.item:nth-child(3) {
				background-color: goldenrod;
			}
			
			.item:nth-child(4) {
				background-color: green;
			}
			
			.item:nth-child(5) {
				background-color: pink;
			}
			*/
			.btn {
				width: 50px;
				height: 80px;
				position: absolute;
				top: 100px;
				z-index: 100;
			}
			
			#goPre {
				left: 0px;
			}
			
			#goNext {
				right: 0px;
			}
			
			.item.active {
				opacity: 1;
				z-index: 10;
			}
			
			.pointList {
				padding-left: 0px;
				list-style: none;
				position: absolute;
				right: 20px;
				bottom: 10px;
				z-index: 1000;
			}
			
			.point {
				width: 8px;
				height: 8px;
				background-color: rgba(0, 0, 0, 0.4);
				border-radius: 100%;
				float: left;
				margin-right: 14px;
				border-style: solid;
				border-width: 2px;
				border-color: rgba(255, 255, 255, 0.6);
				cursor: pointer;
			}
			
			.point.active {
				background-color: rgba(255, 255, 255, 0.4);
			}